
                    <li>
                        <a href="{link}">
                            <span class="jxtc_k2contentwall_tmplist1-icon"><img src="{avatarurl}" width="100" /></span>
                            <div class="jxtc_k2contentwall_tmplist1-content">
                                <h2 class="jxtc_k2contentwall_tmplist1-main">{contenttitle}</h2>
                                <h3 class="jxtc_k2contentwall_tmplist1-sub">View Comment...</h3>
                            </div>
                        </a>
                    </li>









