<div class="feventitem">
        <div>
            <img alt="{title}" class="imgframe" src="{articleintroimageurl}">
            <div class="feventtextwrap">
                <h3 class="newsitemtitlelg"><a class="newsitemtitlelg" href="{link}">{title}</a></h3>
                <h3 class="newsitemtitle"><a class="newsitemtitle" href="{link}">{title}</a></h3>
                <div class="newsdatelg">
                    <a class="newsitemdatelg" href="{link}">{author}</a> |
                    <a class="newsitemdatelg" href="{link}">{date F-d-Y}</a> |
                    <a class="newsitemdatelg" href="{category_link}">{category}</a>
                </div>
                <p class="feventitemintro">{intro}</p>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>