<div class="jxtc_komentowall_tmp25_grid">

						<div class="jxtc_komentowall_tmp25_item" style="background-image: url({avatarurl});">
                           <div class="jxtc_komentowall_tmp25_info_wrap">
							<div class="jxtc_komentowall_tmp25_info">
                            <div class="jxtc_komentowall_tmp25_info_front" style="background-image: url({avatarurl});"></div>
                             <div class="jxtc_komentowall_tmp25_info_back">
								<h3>{contenttitle}</h3>
								<p><a href="{link}">Comment</a></p>
							           </div>   
            </div>
        </div>
    </div>
				
</div>









