<table width="100%" border="0" cellpadding="2" cellspacing="2">
    <tr>
        <td class="legend">id</td>
        <td class="tag">{id}</td>
    </tr>
    <tr>
        <td class="legend">processed_comment</td>
        <td class="tag">{processed_comment}</td>
    </tr>
    <tr>
        <td class="legend">rawcomment</td>
        <td class="tag">{rawcomment}</td>
    </tr>
    <tr>
        <td class="legend">comment</td>
        <td class="tag">{comment}</td>
    </tr>
    <tr>
        <td class="legend">comment 10</td>
        <td class="tag">{comment 10}</td>
    </tr>
    
    <!--
    <tr>
        <td class="legend">processed_name</td>
        <td class="tag">{processed_name}</td>
    </tr>
    -->
    
    <tr>
        <td class="legend">title</td>
        <td class="tag">{title}</td>
    </tr>
    <tr>
        <td class="legend">title 10</td>
        <td class="tag">{title 10}</td>
    </tr>
    <tr>
        <td class="legend">email</td>
        <td class="tag">{email}</td>
    </tr>
    <tr>
        <td class="legend">url</td>
        <td class="tag">{url}</td>
    </tr>
    <tr>
        <td class="legend">ip</td>
        <td class="tag">{ip}</td>
    </tr>
    <tr>
        <td class="legend">created</td>
        <td class="tag">{created}</td>
    </tr>
    <tr>
        <td class="legend">component</td>
        <td class="tag">{component}</td>
    </tr>
    <tr>
        <td class="legend">childs</td>
        <td class="tag">{childs}</td>
    </tr>
    <tr>
        <td class="legend">contenttitle</td>
        <td class="tag">{contenttitle}</td>
    </tr>
    <tr>
        <td class="legend">link</td>
        <td class="tag">{link}</td>
    </tr>    
    <tr>
        <td class="legend">date</td>
        <td class="tag">{date}</td>
    </tr>
    <tr>
        <td class="legend">date j M Y</td>
        <td class="tag">{date j M Y}</td>
    </tr>
    <tr>
        <td class="legend">moddate</td>
        <td class="tag">{moddate}</td>
    </tr>
    <tr>
        <td class="legend">moddate j M Y</td>
        <td class="tag">{moddate j M Y}</td>
    </tr>
    <tr>
        <td class="legend">authorusername</td>
        <td class="tag">{authorusername}</td>
    </tr>
    <tr>
        <td class="legend">authorname</td>
        <td class="tag">{authorname}</td>
    </tr>
    <tr>
        <td class="legend">avatarurl</td>
        <td class="tag">{avatarurl}</td>
    </tr>
    <tr>
        <td class="legend">avatar</td>
        <td class="tag">{avatar}</td>
    </tr>
    <tr>
        <td class="legend">authorurl</td>
        <td class="tag">{authorurl}</td>
    </tr>
    <tr>
        <td class="legend">index</td>
        <td class="tag">{index}</td>
    </tr>
</table>