<section class="jxtc_newspro_tabs">
	            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1"  />
		        <label for="tab-1" class="tab-label-1">Latest</label>
		
	            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" checked="checked" />
		        <label for="tab-2" class="tab-label-2">More</label>
		
	           
            
			    <div class="clear-shadow"></div>
			
		        <div class="jxtc_newspro_tabscontent">
			        <div class="jxtc_newspro_tabscontent-1">
						{mainarea}
				    </div>
			        <div class="jxtc_newspro_tabscontent-2">
					{morearea}
			      
		        </div>
			</section>
