 <ul class="jxtc_newspro_tmplist2">
                    <li>
                        <a href="{link}">
                            <span class="jxtc_newspro_tmplist2-icon"><img src="{introimage}" width="100" /></span>
                            <div class="jxtc_newspro_tmplist2-content">
                                <h2 class="jxtc_newspro_tmplist2-main">{title}</h2>
                                <h3 class="jxtc_newspro_tmplist2-sub">Read More...</h3>
                            </div>
                        </a>
                    </li></ul>









