<div id="jxtc_komentowall_tmp16">
	<div id="jxtc_komentowall_tmp16_card">
		<div class="jxtc_komentowall_tmp16_front jxtc_komentowall_tmp16_face"><img src="{avatarurl}" width="200" height="200"/>
		</div>
		<div class="jxtc_komentowall_tmp16_back2 jxtc_komentowall_tmp16_face center">
			<h3 class="jxtc_komentowall_tmp16_title"><a class="jxtc_komentowall_tmp16_a" href="{link}">{contenttitle}</a></h3>
<a class="jxtc_komentowall_tmp16_register" href="{link}"><p class="jxtc_komentowall_tmp16_register">Posted by:{authorname}</p></a><p class="fnewsitemintro">"{comment150}"</p> 

		</div>
 		</div>
</div>





