<div class="dnpgrid5wrap">
        <div class="dnpgrid5text">
            <h4><a class="dnpgrid5link" href="{link}">{title}</a></h4>
        </div>
        <div align="center" class="dnpgrid5_event">
            <div class="view view-tenth" style="background: url({imageSmallurl}) 50% 50% no-repeat;">
                <img alt="{title}" class="intimage" src="{imageSmallurl}">
                <div class="mask">
                    <div class="jxtc-hoverpad">
                        <div style="text-align: center">
                            <p>{introtext}</p><a class="info" href=
                            "{link}">{language}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>