<div class="jxtc_dnpwall_tmp27_grid">
        <div class="jxtc_dnpwall_tmp27_item">
            <div class="jxtc_dnpwall_tmp27_info">
                <div class="jxtc_dnpwall_tmp27_info_front" style="background: url({imageMediumurl});background-size:cover;">
                </div>
                <div class="jxtc_dnpwall_tmp27_info_back">
                    <h3>{title}</h3>
                    <p><a href="{link}">{language}</a></p>
                </div>
            </div>
        </div>
    </div>









