 <ul class="jxtc_newspro_tmp13">
                    <li>
                        <a href="{link}">
                       
                            <div class="jxtc_newspro_tmp13-content">
                                <h2 class="jxtc_newspro_tmp13-main" style="background: url('{introimage}');"></h2>
                                <p class="jxtc_newspro_tmp13-sub">{title}</p>
                                <h3 class="jxtc_newspro_tmp13-subsub">Read More...</h3>
                            </div>
                        </a>
                    </li></ul>









