<div class="jxtc_komentowall_tmp2"> <img src="{avatarurl}" width="250" />
                    <div class="jxtc_komentowall_tmp2_mask"></div>
                    <div class="jxtc_komentowall_tmp2_content">
                           <h2>{authorname}</h2>
                           <h3>{contenttitle}</h3>
                        <p>{comment100}</p>

                     <center><a href="{link}" class="jxtc_komentowall_tmp2_info">View Comment</a></center>
                    </div>
                </div>




