 <ul class="jxtc_komentowall_tmp11">
                    <li>
                       
                            <div class="komentowall_tpm11-icon"><img src="{avatarurl}" width="250" height="250" /></div>
                            <div class="komentowall_tpm11-content">
                                <h2 class="komentowall_tpm11-main">{contenttitle}</h2>
                                
                                                            <p class="komentowall_tpm11-sub">"{comment}"</p>
                                 <center><a href="{link}" class="info">View Comment </a></center>
                            </div>
                      
                    </li></ul>









