 <ul class="jxtc_komentowall_tmp12">
                    <li><a href="{link}">
                            <div class="komentowall_tpm12-icon"><img src="{avatarurl}" width="150" height="150"/></div>
                            <div class="komentowall_tpm12-content">
                                <h2 class="komentowall_tpm12-main">{authorname}</h2>
                                <p class="komentowall_tpm12-sub">{comment220}</p>
                                <center><h3 class="komentowall_tpm12-subsub">View Comment</h3></center>
                            </div>
                        </a>
                    </li></ul>









