 <div align="center" class="dnps_mainslide" style="background-size:cover;position:relative; background: rgba(0,0,0,0) url('{imageXLargeurl}') no-repeat;z-index:12;">
    <div class="mainslidetint">
            <div align="right" class="slidetext">
                <div class="slidetext-a">
                    <h2>{title}</h2>
                </div>
                <div class="slidetext-b">
                    <p>{introtext}</p><a class="morelink" href=
                    "{link}">{language}</a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>











