<div class="filtrocontainer">
  <input id="filtro_all" name="filtroradio" type="radio" class="filtro_all_selector" checked="checked" />
  <label for="filtro_all" class="filtro_lable_All">All Items</label>
  <input id="filtro_1" name="filtroradio" type="radio" class="filtro_selector_1" />
  <label for="filtro_1" class="filtro_label_1">Blog</label>
  <input id="filtro_2" name="filtroradio" type="radio" class="filtro_selector_2" />
  <label for="filtro_2" class="filtro_label_2">News</label>
  <input id="filtro_3" name="filtroradio" type="radio" class="filtro_selector_3" />
  <label for="filtro_3" class="filtro_label_3">Gallery</label>
  <input id="filtro_4" name="filtroradio" type="radio" class="filtro_selector_4" />
  <label for="filtro_4" class="filtro_label_4">Portfolio</label>
  <div class="clr"></div>
  <ul class="portfolio">
    {mainarea}
  </ul>
</div>
