 <ul class="jxtc_newspro_tmp14">
                    <li>
                        <a href="{link}">
                       
                            <div class="jxtc_newspro_tmp14-content">
                                
                                 <h3 class="jxtc_newspro_tmp14-main">{title}</h3>
                                 <div class="jxtc_newspro_tmp14-subsub" style="background: url('{introimage}');"></div>
                            </div>
                        </a>
                    </li></ul>









