<div id="jxtc_komentowall_tmp17">
	<div id="jxtc_komentowall_tmp17_card">
		<div class="jxtc_komentowall_tmp17_front jxtc_komentowall_tmp17_face">
		<img src="{avatarurl}" width="200" height="200"/>
		</div>
		<div class="jxtc_komentowall_tmp17_back jxtc_komentowall_tmp17_face center">
			<h3 class="jxtc_komentowall_tmp17_title"><a class="jxtc_komentowall_tmp17_a" href="{link}">{contenttitle}</a></h3>
<a class="jxtc_komentowall_tmp17_register" href="{link}"><p class="jxtc_komentowall_tmp17_register">Posted by:{authorname}</p></a><p class="fnewsitemintro">{comment200}</p> 
		</div>
 		</div>
</div>





