<section class="jxtc_jemwall_tabs">
<input id="etab-1" type="radio" name="radio-set" class="etab-selector-1" checked="checked" />
<label for="etab-1" class="etab-label-1">Latest</label>
<input id="etab-2" type="radio" name="radio-set" class="etab-selector-2"  />
<label for="etab-2" class="etab-label-2">More</label>
<div class="clear-shadow"></div>
<div class="jxtc_jemwall_tabscontent">
<div class="jxtc_jemwall_tabscontent-1"> {mainarea} </div>
<div class="jxtc_jemwall_tabscontent-2"> {morearea} </div>
</section>
