 <ul class="jxtc_komentowall_tmp14">
                    <li>
                        <a href="{link}">
                       
                            <div class="jxtc_komentowall_tmp14-content">
                                
                                 <h3 class="jxtc_komentowall_tmp14-main">{contenttitle}</h3>
                                 <div class="jxtc_komentowall_tmp14-subsub" style="background: url('{avatarurl}') 50% 50%;"></div>
                            </div>
                        </a>
                    </li>
</ul>






