h1 { font-weight:bold; font-size:14px;color:#3c3c3c !important;margin:0px; } 
h2 { color:#b9cf00 !important; font-size:14px; font-weight:bold; margin-top:20px; border-bottom:1px solid #d6d6d6; padding-bottom:4px; } 
h3 { color:#7e7e7e !important; font-size:14px; font-weight:bold; margin:20px 0px 0px 0px; border-bottom:1px solid #d6d6d6; padding-bottom:0px 0px 4px 0px; } 
h4 { color:#879700 !important; font-size:12px; font-weight:bold; margin:0px; padding:0px; } 
body{background-color:#3c3c3c} 
a { cursor:pointer; color:#a2b500; text-decoration:none; border:none; } 
.acymailing_online {color:#dddddd; text-decoration:none; font-size:11px; margin:10px; text-align:center;} 
.acymailing_unsub {color:#dddddd; text-decoration:none; font-size:11px; text-align:center;} 
.acymailing_readmore {cursor:pointer; color:#ffffff; background-color:#b9cf00; border-top:2px solid #b9cf00; border-bottom:2px solid #b9cf00; border-right:4px solid #b9cf00; border-left:4px solid #b9cf00;} 
a img{ border:0px; text-decoration:none;} 
table, div, p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#575757;
}

.footer a{
	color:#575757;}
