.acymailing_content {clear:both;text-align:justify;font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;line-height:14px;margin-top:10px;} 
.acymailing_title {color:#8a8a8a;font-weight:normal;font-size:14px;margin:0;border-bottom:5px solid #d39f9f;} 
.acymailing_unsub {font-weight:bold;color:#000000;} 
.acymailing_readmore {color:#d39f9f;} 
.acymailing_online {font-weight:bold;color:#000000;} 
h1 { margin-bottom:0;margin-top:0;font-family: Verdana, Arial, Helvetica, sans-serif;font-size:26px;color:#d47e7e;vertical-align:top; } 
h2 { color:#8a8a8a !important;font-weight:normal;font-size:14px;margin:0;border-bottom:5px solid #d39f9f; } 
h3 { color:#8a8a8a !important;font-weight:normal;font-size:100%;margin:0; } 
body{background-color:#e2e8df} 
a img{ border:0px; text-decoration:none;} 
div,table{font-family: Verdana, Arial, Helvetica, sans-serif; font-size:12px;}