<a href="#myModal{id}" data-toggle="modal" class="popmod"><img src="{articleintroimageurl}" /></a> 
<div id="myModal{id}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{title}</h3>
  </div>
  <div class="modal-body">
    <div class='embed-container'> {introtext}<br>
      <br>
      <img src="{articleintroimageurl}" alt="{title}"> <br>
    </div>
  </div>
  <div class="modal-footer"> <a href="{link}">{language}</a> </div>
</div>