<div class="jxtc_komentowall_tmp9"><a href="{link}">
                    <img src="{avatarurl}" width="250" />
                    <div class="jxtc_komentowall_tmp9_mask jxtc_komentowall_tmp9_mask-1"></div>
                    <div class="jxtc_komentowall_tmp9_mask jxtc_komentowall_tmp9_mask-2"></div>
                    <div class="jxtc_komentowall_tmp9_content">
                        <h2>{authorname}</h2>
                        <h3>{contenttitle}</h3>
                        <p>{comment90}</p>
                        <center><a href="{link}" class="info">View Comment</a></center>
</a>
                    </div>
                </div>











