.legend {
    font-size: 12px;
    font-weight: 700;
    color: #333;
    background-color: #e0e0e0;
    padding: 2px 5px 2px 2px;
    border-bottom: 1px solid #333;
}

.tag {
    padding: 2px;
    font-size: 10px;
    font-family: Arial;
    color: #333;
    background-color: #f9f9f9;
    border-bottom: 1px solid #333;
}

.dnpblog4 img {
    max-width: 100%;
    width: 100%;
}

.dnpblog4 .dnpblog4wrap p {
    margin: 8px 0 !important;
    font-size: 14px;
}

.dnpblog4 .dnpblog4wrap h3 {
    color: #333;
    padding: 0;
}

.dnpblog4 .dnpblog4wrap p.artintro {
    margin: 25px 0 14px;
}

.dnpblog4 .dnpblog4wrap {
    text-align: center;
    padding: 12px 40px;
    margin-bottom: 18px;
    background: #fff !important;
    position: relative;
    margin: -80px 40px 40px;
    display: block;
    z-index: 48;
}

.blog4date {
    margin: -80px 60px 40px;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    padding: 8px 12px;
}

.dnpblog4 .articlebutton {
    padding: 10px 24px;
    font-weight: 700;
    background: #333;
    color: #fff;
    display: inline-block;
}

@media (max-width: 900px) {
.dnpblog4 .firstcol,.dnpblog4 .centercol,.dnpblog4 .lastcol {
    width: 100% !important;
    float: none !important;
}

.dnpblog4 .dnpblog4wrap {
    margin-bottom: 0 !important;
    padding: 20px !important;
}

.dnpblog4 .dnpblog4wrap h3 {
    padding-top: 0 !important;
}
}

@media (max-width: 768px) {
.dnpblog4 .dnpblog4wrap h3 {
    text-align: center;
}

.dnpblog4 .dnpblog4wrap p {
    font-size: 18px;
    text-align: center;
}

.dnpblog4 .dnpblog4wrap {
    text-align: center;
}
}

@media (max-width: 640px) {
.dnpblog4 .dnpblog4wrap {
    margin: -40px 10px 40px;
}

.blog4date {
    margin: -80px 30px 40px;
}
}