 <ul class="jxtc_newspro_tmp12">
                    <li>
                        <a href="{link}">
                            <div class="jxtc_newspro_tmp12"><img src="{introimage}" width="200" /></div>
                            <div class="jxtc_newspro_tmp12-content">
                                <h2 class="jxtc_newspro_tmp12-main">{title}</h2>
                                <p class="jxtc_newspro_tmp12-sub">{introtext}</p>
                                <h3 class="jxtc_newspro_tmp12-subsub">Read More...</h3>
                            </div>
                        </a>
                    </li></ul>









