<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr><td class="legend">alias</td><td class="tag">{alias}</td></tr>
  <tr><td class="legend">articlefulltextimage</td><td class="tag">{articlefulltextimage}</td></tr>
  <tr><td class="legend">articlefulltextimagealt</td><td class="tag">{articlefulltextimagealt}</td></tr>
  <tr><td class="legend">articlefulltextimagecaption</td><td class="tag">{articlefulltextimagecaption}</td></tr>
  <tr><td class="legend">articlefulltextimageurl</td><td class="tag">{articlefulltextimageurl}</td></tr>
  <tr><td class="legend">articleintroimage</td><td class="tag">{articleintroimage}</td></tr>
  <tr><td class="legend">articleintroimagealt</td><td class="tag">{articleintroimagealt}</td></tr>
  <tr><td class="legend">articleintroimagecaption</td><td class="tag">{articleintroimagecaption}</td></tr>
  <tr><td class="legend">articleintroimageurl</td><td class="tag">{articleintroimageurl}</td></tr>
  <tr><td class="legend">author</td><td class="tag">{author}</td></tr>
  <tr><td class="legend">author_alias</td><td class="tag">{author_alias}</td></tr>
  <tr><td class="legend">authorid</td><td class="tag">{authorid}</td></tr>
  <tr><td class="legend">authorprofile</td><td class="tag">{authorprofile}</td></tr>
  <tr><td class="legend">avatar</td><td class="tag">{avatar}</td></tr>
  <tr><td class="legend">category</td><td class="tag">{category}</td></tr>
  <tr><td class="legend">category_alias</td><td class="tag">{category_alias}</td></tr>
  <tr><td class="legend">category_description</td><td class="tag">{category_description}</td></tr>
  <tr><td class="legend">category_description_text</td><td class="tag">{category_description_text}</td></tr>
  <tr><td class="legend">category_image</td><td class="tag">{category_image}</td></tr>
  <tr><td class="legend">category_link</td><td class="tag">{category_link}</td></tr>
  <tr><td class="legend">categoryid</td><td class="tag">{categoryid}</td></tr>
  <tr><td class="legend">catid</td><td class="tag">{catid}</td></tr>
  <tr><td class="legend">comments</td><td class="tag">{comments}</td></tr>
  <tr><td class="legend">date Y-m-d</td><td class="tag">{date Y-m-d}</td></tr>
  <tr><td class="legend">date</td><td class="tag">{date}</td></tr>
  <tr><td class="legend">field field_alias</td><td class="tag"><i>Custom field value</i></td></tr>
  <tr><td class="legend">fullimage</td><td class="tag">{fullimage}</td></tr>
  <tr><td class="legend">fullnoimage</td><td class="tag">{fullnoimage}</td></tr>
  <tr><td class="legend">fulltext</td><td class="tag">{fulltext}</td></tr>
  <tr><td class="legend">hits</td><td class="tag">{hits}</td></tr>
  <tr><td class="legend">id</td><td class="tag">{id}</td></tr>
  <tr><td class="legend">index</td><td class="tag">{index}</td></tr>
  <tr><td class="legend">intro</td><td class="tag">{intro}</td></tr>
  <tr><td class="legend">introimage</td><td class="tag">{introimage}</td></tr>
  <tr><td class="legend">intronoimage</td><td class="tag">{intronoimage}</td></tr>
  <tr><td class="legend">introtext</td><td class="tag">{introtext}</td></tr>
  <tr><td class="legend">language language_token</td><td class="tag">{language language_token}</td></tr>
  <tr><td class="legend">link</td><td class="tag">{link}</td></tr>
  <tr><td class="legend">linka</td><td class="tag">{linka}</td></tr>
  <tr><td class="legend">linkatext</td><td class="tag">{linkatext}</td></tr>
  <tr><td class="legend">linkaurl</td><td class="tag">{linkaurl}</td></tr>
  <tr><td class="legend">linkb</td><td class="tag">{linkb}</td></tr>
  <tr><td class="legend">linkbtext</td><td class="tag">{linkbtext}</td></tr>
  <tr><td class="legend">linkburl</td><td class="tag">{linkburl}</td></tr>
  <tr><td class="legend">linkc</td><td class="tag">{linkc}</td></tr>
  <tr><td class="legend">linkctext</td><td class="tag">{linkctext}</td></tr>
  <tr><td class="legend">linkcurl</td><td class="tag">{linkcurl}</td></tr>
  <tr><td class="legend">moddate</td><td class="tag">{moddate}</td></tr>
  <tr><td class="legend">publish_down Y-m-d</td><td class="tag">{publish_down Y-m-d}</td></tr>
  <tr><td class="legend">publish_down</td><td class="tag">{publish_down}</td></tr>
  <tr><td class="legend">publish_up Y-m-d</td><td class="tag">{publish_up Y-m-d}</td></tr>
  <tr><td class="legend">publish_up</td><td class="tag">{publish_up}</td></tr>
  <tr><td class="legend">rawfulltext</td><td class="tag">{rawfulltext}</td></tr>
  <tr><td class="legend">readinglist</td><td class="tag">{readinglist}</td></tr>
  <tr><td class="legend">tags</td><td class="tag">{tags}</td></tr>
  <tr><td class="legend">title</td><td class="tag">{title}</td></tr>
</table>
