 <a href="{link}">
    <div class="exp" style="background:url({imageMediumurl}); background-repeat: no-repeat; background-position: 50% 30%;">
    </div></a>
    <div>
        <div class="newspromore">
            <div class="newsproinner">
                <div class="newsitemcattitle">
                    {category}
                </div>
                <div style="clear:both;"></div>
                <h3 class="newsitemtitlemed"><a class="newsitemtitlemed" href="{link}">{title}</a></h3>
                <p class="newsitemintro">{introtext}</p>
            </div>
        </div>
    </div>















