 <ul class="jxtc_komentowall_tmp13">
                    <li> <a href="{link}">
                       
                            <div class="jxtc_komentowall_tmp13-content">
                                <h2 class="jxtc_komentowall_tmp13-main" style="background: url('{avatarurl}') 50% 50%;"></h2>
                                <p class="jxtc_komentowall_tmp13-sub">{authorname}</p>
                                <h3 class="jxtc_komentowall_tmp13-subsub">View Comment</h3>
                            </div>
                        </a>
                    </li></ul>









