<div style="background: url({imageXLargeurl}) top center no-repeat; width:700px; height:350px">
<div style="width:700px; height:256px;"></div>
<div style="width:700px; height:80px; background: #000;">
<div style="float:left; width:300px; border-right: 1px dotted #cccccc; color:#ebebeb; padding-right:30px; padding-left:20px; text-align:left; font-size:32px; letter-spacing:-1px; line-height:28px !important; margin-top:16px; font-weight:500;">{title}</div>
<div style="float:right; width:250px; color:#ebebeb; margin:16px 40px 5px 0px; padding-left:15px; text-align:left; font-size:11px; line-height:11px !important;">{introtext}</div>
</div>
</div>
<div style="clear:both;"></div>