<table width="100%" border="0" cellpadding="2" cellspacing="2">
    <tr>
        <td class="legend">&#123;alias}</td>
        <td class="tag">{alias}</td>
    </tr>
    <tr>
        <td class="legend">&#123;title}</td>
        <td class="tag">{title}</td>
    </tr>
    <tr>
        <td class="legend">&#123;url}</td>
        <td class="tag">{url}</td>
    </tr>
    <tr>
        <td class="legend">&#123;icon}</td>
        <td class="tag">{icon}</td>
    </tr>
    <tr>
        <td class="legend">&#123;index}</td>
        <td class="tag">{index}</td>
    </tr>

</table>